run = "hugo --gc --minify -b / && npx pagefind --source 'public' && miniserve public --index index.html"
entrypoint = "README.md"
hidden = [".config"]
modules = ["nodejs-20", "go-1.21"]

[nix]
channel = "stable-24_05"

[deployment]
build = ["hugo --gc --minify", "npx pagefind --source 'public"]
deploymentTarget = "static"
publicDir = "public"

[[ports]]
localPort = 8080
externalPort = 80
