run = "hugo server --gc --minify --baseURL='/' --bind='0.0.0.0' && npx pagefind --source 'public'"
entrypoint = "README.md"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "hugo --gc --minify && npx pagefind --source 'public'"]

[[ports]]
localPort = 1313
externalPort = 80
